In [1]:
import pandas as pd
import numpy as np

In [2]:
path ="./archive/coin_XRP.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.000000e+00,4.387916e+07
1,2,XRP,XRP,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.000000e+00,3.659101e+07
2,3,XRP,XRP,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.000000e+00,3.453412e+07
3,4,XRP,XRP,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.000000e+00,3.325863e+07
4,5,XRP,XRP,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.000000e+00,3.354750e+07
...,...,...,...,...,...,...,...,...,...,...
2888,2889,XRP,XRP,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
2889,2890,XRP,XRP,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
2890,2891,XRP,XRP,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
2891,2892,XRP,XRP,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10
2892,2893,XRP,XRP,2021-07-06 23:59:59,0.679923,0.652676,0.653055,0.665402,1.938959e+09,3.072284e+10

In [3]:
df = df.drop(columns=['SNo', 'Name', 'Symbol'])
df.head()

,Date,High,Low,Open,Close,Volume,Marketcap
0,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.0,4.387916e+07
1,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.0,3.659101e+07
2,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.0,3.453412e+07
3,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.0,3.325863e+07
4,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.0,3.354750e+07

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
start = '2016-07-06'
end = '2021-07-06'

In [6]:
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [7]:
bitcoin_df = df.loc[fiveyears]
bitcoin_df

,Date,High,Low,Open,Close,Volume,Marketcap
1066,2016-07-06 23:59:59,0.006743,0.006687,0.006716,0.006691,6.001950e+05,2.364875e+08
1067,2016-07-07 23:59:59,0.006699,0.006495,0.006689,0.006598,7.896930e+05,2.332269e+08
1068,2016-07-08 23:59:59,0.006715,0.006563,0.006609,0.006715,6.040760e+05,2.373638e+08
1069,2016-07-09 23:59:59,0.006718,0.006624,0.006717,0.006679,5.774470e+05,2.360786e+08
1070,2016-07-10 23:59:59,0.006676,0.006621,0.006672,0.006674,5.710470e+05,2.359033e+08
...,...,...,...,...,...,...,...
2887,2021-07-01 23:59:59,0.704785,0.646796,0.704785,0.661180,2.553971e+09,3.051144e+10
2888,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
2889,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
2890,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
2891,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10

In [8]:
bitcoin_df.to_csv('XRP(fiveyears).csv')