# Extracting Data from https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory and preprocessing and saving onto a MongoDB database

In [2]:
# import libraries
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import certifi

In [3]:
# create a dataframe from the csv
path ="C:/UC_Berkeley\Analysis_Projects_Class_Folder/Module20_Final_Project\Data_Kaggle_Historical/coin_Monero.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Monero,XMR,2014-05-22 23:59:59,2.188880,1.359090,1.589400,2.095580,1.329180e+05,1.855608e+06
1,2,Monero,XMR,2014-05-23 23:59:59,3.434370,2.051040,2.051040,2.963020,2.668520e+05,2.692180e+06
2,3,Monero,XMR,2014-05-24 23:59:59,4.014240,2.617780,2.920390,3.702450,2.480280e+05,3.456658e+06
3,4,Monero,XMR,2014-05-25 23:59:59,4.043030,2.803300,4.043030,3.138560,2.835450e+05,2.993339e+06
4,5,Monero,XMR,2014-05-26 23:59:59,3.762350,2.312020,3.218970,3.021860,2.201480e+05,2.946133e+06
...,...,...,...,...,...,...,...,...,...,...
2597,2598,Monero,XMR,2021-07-02 23:59:59,211.666077,199.608531,206.252403,211.345143,1.519434e+08,3.792466e+09
2598,2599,Monero,XMR,2021-07-03 23:59:59,216.327967,207.042192,211.458163,214.752778,1.364141e+08,3.853768e+09
2599,2600,Monero,XMR,2021-07-04 23:59:59,224.909012,213.023069,214.839958,219.841418,1.697858e+08,3.945232e+09
2600,2601,Monero,XMR,2021-07-05 23:59:59,220.354191,206.502607,219.961957,214.464993,1.709852e+08,3.848898e+09
2601,2602,Monero,XMR,2021-07-06 23:59:59,222.137136,212.296827,214.470724,222.137136,1.678620e+08,3.986738e+09

In [4]:
# checking for mull values
df.isnull().sum().sum()
df.isna().sum()

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
dtype: int64

In [5]:
# dropping irrelevant columns
df = df.drop(columns=['SNo', 'Symbol'])
df.head()

,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,Monero,2014-05-22 23:59:59,2.18888,1.35909,1.58940,2.09558,132918.0,1.855608e+06
1,Monero,2014-05-23 23:59:59,3.43437,2.05104,2.05104,2.96302,266852.0,2.692180e+06
2,Monero,2014-05-24 23:59:59,4.01424,2.61778,2.92039,3.70245,248028.0,3.456658e+06
3,Monero,2014-05-25 23:59:59,4.04303,2.80330,4.04303,3.13856,283545.0,2.993339e+06
4,Monero,2014-05-26 23:59:59,3.76235,2.31202,3.21897,3.02186,220148.0,2.946133e+06

In [6]:
# converting date to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
# data being analyzed for last five years, so filtering data for that date range
start = '2016-07-06'
end = '2021-07-06'

In [8]:
# creating a variable to store that date range
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [9]:
# creating a new dataframe after applying the above filters
monero_df = df.loc[fiveyears]
monero_df

,Name,Date,High,Low,Open,Close,Volume,Marketcap
775,Monero,2016-07-06 23:59:59,1.984770,1.724940,1.725590,1.938590,5.100900e+05,2.391543e+07
776,Monero,2016-07-07 23:59:59,2.106600,1.816390,1.940100,1.902770,1.565910e+06,2.348983e+07
777,Monero,2016-07-08 23:59:59,2.017520,1.864400,1.901290,1.981160,4.337500e+05,2.447487e+07
778,Monero,2016-07-09 23:59:59,1.986900,1.844740,1.985520,1.955670,3.078330e+05,2.417514e+07
779,Monero,2016-07-10 23:59:59,1.955720,1.860260,1.955720,1.912990,2.244040e+05,2.366470e+07
...,...,...,...,...,...,...,...,...
2596,Monero,2021-07-01 23:59:59,222.740623,203.426955,222.390285,206.563874,1.996143e+08,3.706528e+09
2597,Monero,2021-07-02 23:59:59,211.666077,199.608531,206.252403,211.345143,1.519434e+08,3.792466e+09
2598,Monero,2021-07-03 23:59:59,216.327967,207.042192,211.458163,214.752778,1.364141e+08,3.853768e+09
2599,Monero,2021-07-04 23:59:59,224.909012,213.023069,214.839958,219.841418,1.697858e+08,3.945232e+09
2600,Monero,2021-07-05 23:59:59,220.354191,206.502607,219.961957,214.464993,1.709852e+08,3.848898e+09

In [11]:
# exporting the dataframe to csv
monero_df.to_csv('monero(fiveyears).csv')

# Storing file in MongoDB (DB name : Finale)

In [12]:
# Read in mongodb server location as client
client = MongoClient("mongodb+srv://Group7:Finale@finalsegment1.690c0.mongodb.net/bitcoin_db?retryWrites=true&w=majority",tlsCAFile=certifi.where())

In [13]:
# Find Databases
client.list_database_names()

['Bitcoin_db',
 'Cardano_DB',
 'Ethereum_db',
 'Finale',
 'Tether_DB',
 'XRP_DB',
 'admin',
 'local']

In [16]:
# connecting to the db on MongoDb and creating collection in the db
db = client['Finale']
collection = db['Monero']

In [17]:
# adding dataframe to mongoDb
monero_df.reset_index(inplace=True)
monero_df_dict = monero_df.to_dict("records")

In [18]:
# Insert collection
collection.insert_many(monero_df_dict)